input, select{
    padding: 8px;
    border: 1px solid rgb(49,49,49);
    border-bottom: 4px solid rgb(49,49,49);
}
input:focus, select:focus{
    outline: none;
    border-bottom: 4px solid rgb(26, 0, 172);
}
#input-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px;

}
.form-row{
    width: 100%;
    align-self: center;
    display: flex; 
    flex-direction: column;
}
.form-row:nth-last-child(-n+3){
    width: calc(50% - 10px);
}
.form-row:last-child{
    width: 100%;
    gap: 10px;
}