#statistik-kopfzeile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#statistik-kopfzeile > input {
    width: 35%;
}

#diagramm-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    background-color: rgb(194, 194, 194);
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(49,49,49);
    margin-right: 5px;
}
.bar:nth-child(2n) {
    margin-right: 20px;
}
.Lena{
    fill: pink;
}
.Isabella{
    fill: rgb(255, 94, 0)
}




table {
    margin-top: 16px;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(49, 49, 49);
    color: white;

}

td {
    padding: 16px;
    border-bottom: 1px solid rgb(49,49,49);
}
