#diagramm-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    background-color: rgb(235, 235, 235);
    overflow-x: scroll;
    overflow-y:visible;
}
.bar-wrapper{
    position: relative;
    margin-right: 5px;
    height: 94%;
}
.bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgb(49,49,49);
    position: relative;
    height: 100%;
    overflow: hidden;
}
.bar-wrapper:nth-child(2n) {
    margin-right: 20px;
}
.legende-row{
    display:flex;
    flex-direction: row;
    gap: 5px; 
    align-items: center;
    font-size: 12px;
}
.legende{
    width: 50px;
    height: 20px;
}
.legende.Lena{
    background-color: pink;
}
.legende.Isabella{
    background-color:rgb(255, 94, 0);
}
.Lena{
    fill: pink;

}
.Isabella{
    fill: rgb(255, 94, 0)
}

.diagramm-beschriftung{
    text-align: center;
    width: 100%;
    height: auto;
    position: absolute;
    align-self: center;
    margin-bottom: 10px;
    z-index: 2;
}
.diagramm-beschriftung:nth-child(2){
    margin-bottom: -60px;
}
.diagramm-beschriftung_datum{
    position: absolute; 
    bottom: -20px; 
    left: -35px;
    font-size: 12px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: rgb(49, 49, 49);
    color: white;

}

td {
    padding: 16px;
    border-bottom: 1px solid rgb(49,49,49);
}
