*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(49,49,49);
    max-width: 100vw;
    display: flex;
    justify-content: center;
}
header > div {
    width: 80vw;
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#wrapper{
    width: 80vw;
    margin: 20px auto;
}
section{
    display:flex;
    flex-direction: column;
}
h1 {
    color: white;
    font-size: 24px;
}
h2{
    margin-bottom: 32px;
    border-bottom: 4px solid rgb(26, 0, 172);
    width: 45%;
}
p {
    text-align: justify;
    padding: 5px 0px;
    padding-bottom: 15px;
}

nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav > ul > li {
    display: inline-block;
    color: #fff;
    width: auto;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}
nav > ul > li:hover {
    text-decoration: underline;
}
nav > ul > li.active{
    text-decoration: underline;
}

code{
    background-color: rgb(223, 223, 223);
    padding: 2px 6px;

}

.link{
    text-decoration-color: rgb(26, 0, 172);
    text-decoration: underline;
    color: rgb(26,0,172);
    cursor: pointer;
}
.icon-m{
    width: auto; 
    height: 30px;
    cursor: pointer;
    margin: 0px 10px;
}
.icon-s{
    width: auto; 
    height: 10px;
    cursor: pointer;
    margin: 0px 5px;
}

.btn{
    padding: 10px 30px;
    background-color: rgb(26, 0, 172);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}
.btn:hover{
    background-color: rgb(33, 0, 219);
}
.btn.delete{
    background-color: rgb(170, 0, 0);
}
.btn.delete:hover{
    background-color: rgb(221, 27, 27)
}
.btn.neutral{
    background-color: rgb(197, 197, 197);
    color: black;
}

.hover-animation{
    transition: all 0.7s ease;
}
.hover-animation:hover{
    transform: translateY(-2px);
}

.margin-btm-s{
    margin-bottom: 8px;
}
.margin-btm-m{
    margin-bottom: 16px;
}
.margin-btm-l{
    margin-bottom: 32px;
}
.margin-btm-xl{
    margin-bottom: 48px;
}