<!DOCTYPE html>
<html lang="de">
    <head>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Tägliche Kinderbeobachtungen</title>

        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/angular-1.7.9.min.js"></script>
        <script src="js/script.js" defer></script>

        <link rel='stylesheet' href='css/style.css'>
        <link rel='stylesheet' href='css/statistik.css'>
        <link rel='stylesheet' href='css/dateneingabe.css'>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <header>
            <div>
                <nav>
                    <ul>
                    </ul>
                </nav>
                <button class="btn hover-animation" ng-click="debug()">Debug</button>
                <h1>Tägliche Kinderbeobachtungen</h1>
            </div>
        </header>
        <div id="wrapper">
            <main>

                <section menuName="Home">
                    <h2>Home</h2>
                    <h3>Semesterprojekt in AIIT</h3>
                    <p class="margin-btm-m">von Wolfgang Hartl, 4ABET</p>
                    <h3>Aufgabenstellung</h3>
                    <p>Erstellen Sie eine Webseite bestehend aus drei Subseiten:
                        <br>- Home
                        <br>- Dateneingabe
                        <br>- Statistik
                        <br>
                    Setzen Sie die Seite in Form einer Single Page Application um. Die Daten sollen über ein Formular eingegeben werden, mittels JS überprüft und mit Ajax übermittelt werden. Die Daten sollen über ein PHP-Skript in die MySQL-Datenbank geschrieben werden. Die Ausgabe der Daten erfolgt in einer Tabelle über AngularJS und eine SVG-Grafik.</p>
                    <p class="margin-btm-m">Die Abgabe erfolgt über eine einzelne zip-Datei, die sämtliche Dateien der Webseite und die exportierte Datenbank enthält!</p>
                    
                    <h3>Projektbeschreibung</h3>
                    <p>Das Projekt beinhaltet Daten aus der täglichen Kinderbeobachtung. Wir haben einige Wochen den Tagesrhytmus unserer Kinder beobachtet und dabei erfasst wann die Aufstehzeiten und die Schlafenszeiten sind um aus diesen Daten dann den Tagesrhytmus visuell darstellen zu können.</p>
                    <p>Mittels MySQL-Datenbank lassen sich die Daten über eine Eingabemaske <span class="link" ng-click="routerNavigation('Dateneingabe')">(Menüpunkt: Dateneingabe)</span> erfassen und aktualisieren.</p>
                    <p>Mithilfe von AngularJS werden die Daten dann ausgegeben. <span class="link" ng-click="routerNavigation('Statistik')">(Menüpunkt: Statistik)</span>. Hierfür wird ng-repeat einerseits zum erstellen einer Datentabelle benutzt, andererseits zum erstellen der Diagramme.</p>
                    <p class="margin-btm-l">Zusätzlich wurden alle CRUD-Operationen umgesetzt und zur leichteren Bedienung eine "neue" Navigationsfunktion erstellt die über die jeweiligen Attribute der Sections die Menüeinträge generiert und sich auch über die Werte der Attribute aufrufen lässt. 

      
                    <h2>Mini-Dokumentation</h2>    
                    <h3 class="margin-btm-s">Wichtigsten Funktionen</h3>
                    <code>routerNavigation(activeMenu)</code>
                    <p>Verantwortlich für die Simulierung der jeweiligen "Seiten". Ermöglicht die Navigation zwischen den Seiten!</p>

                    <code>redirectAndClear()</code>
                    <p>Verantwortlich dafür, dass nach updaten, löschen oder verwerfen eines bestehenden Datensatzes wieder alles zurückgesetzt wird und auf die Statistik-Seite zurückgeleitet wird!</p>

                    <code>zeitBerechnen(startzeit, endzeit, format)</code>
                    <p>Wird bei hinzufügen oder aktualisieren eines Datensatzes aufgerufen. Ist verantwortlich für die korrekte Berechnung des Zeitformats und auch für die Berechnung der relativen Wachzeit. Format kann entweder mit 'zeit' oder mit 'relativ' übergeben werden.</p>

                    <code>updateInputValues(type, id)</code>
                    <p>Hat mehrere Funtkionen, die über 'type' aufgerufen werden:</p>
                    <p><strong>create: </strong>Wird aufgerufen wenn die gleichnamige create-funktion ausgeführt wird. Ruft die funktion updateDataVariable() auf, die wiederum die Eingabedaten entgegennimmt.</p>
                    <p><strong>update: </strong>Wird aufgerufen wenn ein Datensatz aktualisiert werden soll. Führt zuerst eine Datenbankabfrage mit der übergebenen ID aus und schreibt die abgerufenen daten in die Input-Felder. Setzt außerdem den Titel des Formulars (h2) auf "aktualisieren"</p>
                    <p><strong>clear: </strong>Löscht sämtliche Werte aus den input-Feldern. Wird nach aktualisieren, löschen oder hinzufügen eines Datensatzes aufgerufen</p>
                    <p><strong>validate: </strong>Verantwortlich für die Validierung der Eingabefelder. Prüft ob alle Felder ausgefüllt wurden und gibt true oder false zurück. Keine weitere Validierung notwendig, da die Eingabefelder so gewählt wurden, dass keine Fehler in der Eingabe passieren können!</p>

                    <code>updateDataVariable()</code>
                    <p class="margin-btm-m">Wird aufgerufen bevor Daten an die Datenbank geschickt werden. Aktualisiert die variablen die an die Datenbank gesendet werden und ruft die Zeitberechnungen für die "Wachzeit" und "Relative Wachzeit" auf.</p>

                    <h3>CRUD-Operationen</h3>
                    <p>Es wurden alle 4 CRUD-Operationen mit den gleichnamigen Funktionsnamen umgesetzt. Zusätzlich wurde noch eine weitere Funktion "edit" eingebaut um eine Zwischenstufe zu update und delete zu ermöglichen (Detailansicht bevor man etwas löscht)!</p>
                    <code>read()</code>
                    <p>Ruft all Datensätze aus der Datenbank ab und sortiert sie nach Datum absteigend!</p>
                    <code>$scope.edit</code>
                    <p>Dient als Zwischenstufe zu aktualisieren und löschen. Ändert die Eingabemaske und befüllt sie mit den Daten des ausgewählten Datensatzes mithilfe von <code>updateInputValues('update')</code>. Leitet außerdem bei ausführen der Funktion mithilfe von <code>routernavigation()</code> auf die Eingabemaske weiter und togglet dort die Button sodass nur noch "aktualisieren, löschen und verwerfen" verfügbar sind!</p>
                    <code>$scope.update</code>
                    <p>Wird ausgeführt wenn die Daten aktualisiert werden sollen und der dazugehörige Button geklickt wird (siehe zuvor <code>$scope.edit</code>)</p>
                    <code>$scope.delete</code>
                    <p>Löscht die ausgewählten Daten nach Bestätigung aus der Datenbank. Kann über den zwischenschritt <code>$scope.edit</code> aufgerufen werden oder direkt mit Übergabe der ID!</p>
                </section>
                <section menuName="Dateneingabe">
                    <h2>{{formTitle}}</h2>
                    <form id="input-form">

                        <!-- DATUM  -->
                        <div class="form-row" ng-if="updateCondition">
                            <label for="id">ID</label>
                            <input disabled name="id" id="id">
                        </div>
                        <div class="form-row">
                            <label for="datum">Bitte ein Datum auswählen:</label>
                            <input type="date" name="datum" id="datum">
                        </div>

                        <!-- NAME / KIND  -->
                        <div class="form-row">
                            <label for="name">Bitte ein Kind auswählen:</label>
                            <select name="name" id="name">
                                <option disabled selected value="0">Bitte ein Kind auswählen!</option>
                                <option value="1">Lena</option>
                                <option value="2">Isabella</option>
                            </select>
                        </div>
                        <!-- AUFSTEHZEIT -->                        
                        <div class="form-row">
                            <label for="aufstehzeit">Bitte Aufstehzeit auswählen:</label>
                            <input name="aufstehzeit" id="aufstehzeit" type="time">
                        </div>

                        <!-- SCHLAFZEIT -->
                        <div class="form-row">
                            <label for="schlafzeit">Bitte Schlafzeit auswählen:</label>
                            <input name="schlafzeit" id="schlafzeit" type="time">
                        </div>
                        <div class="form-row">
                            <button class="btn hover-animation" ng-if="!updateCondition" ng-click="create()">Speichern<img class="icon-s" src="img/icons/save-white.svg"></button>
                            <button class="btn hover-animation margin-btm-s" ng-if="updateCondition" ng-click="update()">Aktualisieren <img class="icon-s" src="img/icons/save-white.svg"></button>
                            <br ng-if="updateCondition">
                            <button class="btn delete hover-animation" ng-if="updateCondition" ng-click="delete()">Löschen <img class="icon-s" src="img/icons/trash-white.svg"></button>
                            <button class="btn neutral hover-animation" ng-if="updateCondition" ng-click="redirectAndClear()">Änderungen verwerfen</button>
                        </div>
                    </form>
                </section>
                <section menuName="Statistik">
                    <h2>Statistik</h2>
                    <p>Die folgende Grafik beschreibt die "Wachzeit" in Relation zur Schlafenszeit. Eine Säule umfasst immer 24 Stunden und stellt gestaffelt die Zeit, in der das jeweilige Kind munter war und die Zeit in der es geschlafen hat, dar!</p>
                    <div id="diagramm" class="margin-btm-m">
                        <div id="diagramm-wrapper">
                            <div ng-class="{aktiverFilter : suche}" class="bar-wrapper" ng-model="data" ng-repeat="ausgabe in data | orderBy:reverse:true | filter: suche">
                                <div class="bar">
                                    <svg width="40" ng-style="{'height': ausgabe.relativeWachzeit}">
                                        <rect width="100%" height="100%" class="{{ausgabe.name}}" />
                                      </svg>
                                      <div class="diagramm_icon-box" ng-style="{'bottom' : ausgabe.relativeWachzeit}">
                                          <img width="50%" src="img/icons/sonne.svg" >
                                          <span>{{ausgabe.relativeWachzeit}}</span><br>
                                          <span>#{{ausgabe.id}}</span>
                                      </div>
                                      <div class="diagramm_icon-box" ng-style="{'bottom' : ausgabe.relativeWachzeit}">
                                          <img width="50%" src="img/icons/moon-white.svg">
                                      </div>
                                </div>
                                <div  class="diagramm-beschriftung_datum" ng-if="suche == ''">
                                    <div ng-if="$index%2==1">
                                        {{ausgabe.datum | date:'dd.MM.yyyy' }}
                                    </div>                                
                                </div>
                                <div class="diagramm-beschriftung_datum aktiverFilter" ng-if="suche != ''">
                                    {{ausgabe.datum | date:'dd.MM.yyyy' }}
    
                                </div>
    
                            </div>
                        </div>

                    </div>

                    <div class="legende-row">
                        <div class="legende Lena"></div>
                        <span>Lena</span>
                    </div>
                    <div class="legende-row margin-btm-xl">
                        <div class="legende Isabella"></div>
                        <span>Isabella</span>
                    </div>                        
                    <input class="margin-btm-s" placeholder="Suche..." name="suche" id="suche" type="text" ng-model="suche">
                    <table>
                        <thead>
                            <tr>
                                <td>Datum</td>
                                <td>Kind</td>
                                <td>Aufstehzeit</td>
                                <td>Schlafzeit</td>
                                <td>Dauer Wach</td>
                                <td>ID</td>
                                <td>Aktion</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="data" ng-repeat="ausgabe in data | filter:suche">
                                <td>{{ ausgabe.datum | date:'dd.MM.yyyy' }}</td>
                                <td>{{ ausgabe.name }}</td>                                
                                <td>{{ ausgabe.aufstehzeit }} Uhr</td>
                                <td>{{ ausgabe.schlafzeit }} Uhr</td>
                                <td>{{ ausgabe.wachzeit }} Std.</td>
                                <td>{{ ausgabe.id }}</td>
                                <td><img src="img/icons/edit.svg" class="icon-m hover-animation" ng-click="edit(ausgabe.id)"><img src="img/icons/trash.svg" class="icon-m hover-animation" ng-click="delete(ausgabe.id)"></td>
                            </tr>
                        </tbody>
                    </table>
                </section>


            </main>
            <footer></footer>
        </div>

    </body>

</html>