<!DOCTYPE html>
<html lang="de">
    <head>      
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Tägliche Kinderbeobachtungen</title>

        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/angular-1.7.9.min.js"></script>
        <script src="js/script.js" defer></script>

        <link rel='stylesheet' href='css/style.css'>
        <link rel='stylesheet' href='css/statistik.css'>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <header>
            <div>
                <nav>
                    <ul>
                    </ul>
                </nav>
                <button ng-click="debug()">DEBUG</button>
                <h1>Tägliche Kinderbeobachtungen</h1>
            </div>
        </header>
        <div id="wrapper">
            <main>

                <section menuName="Home">
                    <h2>Home</h2>
                    <p>Projektbeschreibung.</p>

                    <h3>Fragen an Hr. Schäfer</h3>
                    <ol>
                        <li>Beim Daten senden Fehlermeldung object sollte type "Datum" sein!</li>
                        <li>Nachdem Daten abgesendet werden funktioniert ng-model erst nachdem ein Wert verändert wurde (Select option: https://stackoverflow.com/questions/17921930/how-to-make-angularjs-ng-model-work-with-objects-in-select-elements)</li>
                        <li>Float-Werte werden nicht gespeichert trotz parseFloat();</li>
                    </ol>
                </section>
                <section menuName="Dateneingabe">
                    <h2>{{formTitle}}</h2>
                    <form id="input-form">

                        <!-- DATUM  -->
                        <div ng-if="updateCondition">
                            <label for="id">ID</label>
                            <input disabled name="id" id="id">
                        </div>
                        <div>
                            <label for="datum">Datum</label>
                            <input required type="date" name="datum" id="datum">
                        </div>

                        <!-- NAME / KIND  -->
                        <div>
                            <label for="name">Kind</label>
                            <select required name="name" id="name">
                                <option disabled selected>Bitte ein Kind auswählen!</option>
                                <option value="1">Lena</option>
                                <option value="2">Isabella</option>
                            </select>
                        </div>
                        <!-- AUFSTEHZEIT -->                        
                        <div>
                            <label for="aufstehzeit">Aufstehzeit</label>
                            <input required name="aufstehzeit" id="aufstehzeit" type="time">
                        </div>

                        <!-- SCHLAFZEIT -->
                        <div>
                            <label for="schlafzeit">Schlafzeit</label>
                            <input required name="schlafzeit" id="schlafzeit" type="time">
                        </div>
                        <div>
                            <button ng-if="!updateCondition" ng-click="create()">in DB speichern</button>
                            <button ng-if="updateCondition" ng-click="update()">Aktualisieren</button>
                            <button ng-if="updateCondition" ng-click="delete()">Löschen</button>
                            <button ng-if="updateCondition" ng-click="redirectAndClear()">Änderungen verwerfen</button>
                        </div>
                    </form>
                </section>
                <section menuName="Statistik">
                    <div id="statistik-kopfzeile">
                        <h2>Statistik</h2>
                        <input placeholder="Suche..." name="suche" id="suche" type="text" ng-model="suche">
                    </div>

                    <div id="diagramm-wrapper">HIER KOMMT EIN DIAGRAMM! ;-)</div>
                    <table>
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Datum</td>
                                <td>Kind</td>
                                <td>Aufstehzeit</td>
                                <td>Schlafzeit</td>
                                <td>Dauer Munter</td>
                                <td>Aktion</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="data" ng-repeat="ausgabe in data | filter:suche">
                                <td>{{ ausgabe.id }}</td>
                                <td>{{ ausgabe.datum |date:'dd.MM.yyyy' }}</td>
                                <td>{{ ausgabe.name }}</td>                                
                                <td>{{ ausgabe.aufstehzeit }} Uhr</td>
                                <td>{{ ausgabe.schlafzeit }} Uhr</td>
                                <td>{{ ausgabe.wachzeit }} Std.</td>
                                <td><button ng-click="edit(ausgabe.id)">bearbeiten</button><button ng-click="delete(ausgabe.id)">löschen</button></td>
                            </tr>
                        </tbody>
                    </table>
                </section>


            </main>
            <footer></footer>
        </div>

    </body>

</html>